body {
	margin:  0 auto;
}

#firstname {
	background-color: darkgrey;
	color: white;
	font-weight: bold;
	text-shadow: -1px -2px black;
	position: relative;
	transition: font-size 3s;
	transition-timing-function: ease;
}

#firstname:hover {
	font-size: 20px;
}

div {
	width: 250px;
	height: 250px;
	position: relative;
	left: 0;
	background-color: lightpink;
	transition: left 5s;
	transition-delay: 1s;
	transition-timing-function: ease-in;
}

div:hover {
	/*background-color: lightblue;*/
	position: relative;
	left: 250px;
}