body {
	margin: 0 auto;
}

h1 {
	margin:  0;
	padding:  0;
	text-align: left;
}

table {
	font-size: 10pt;
	margin-left: 10px;
	/*table-layout: fixed;*/
	width: 400px;
	border: 1px solid black;
}

down td {
	border: 1px solid black;
}

.right {
	text-align: right;
}

.down {
	vertical-align: bottom;
}

#footer {
	text-align: center;
}
.pad {
	padding-left: 20px;
}


#line {
	line-height: 10px;
	background-color: black;
}

caption {
	text-align: left;
	font-weight: bold;
	font-size: 30pt;
}