body {
	margin:  0 auto;
}

#firstname {
	background-color: darkgrey;
	color: white;
	font-weight: bold;
	text-shadow: -1px -2px black;
	position: relative;
	transition: font-size 5s, background-color 5s;
	transition-timing-function: ease;

}

#firstname:hover {
	font-size: 20px;
	background-color: lightblue;
}

p {
	background-color: lightpink;
	transition: font-size 5s, background-color 5s;
}

p:hover {
	font-size: 20px;
	background-color: lightblue;
}